apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  name: gardener-extension-admission-kubevirt
webhooks:
- name: validation.kubevirt.provider.extensions.gardener.cloud
  rules:
  - apiGroups:
    - "core.gardener.cloud"
    apiVersions:
    - v1alpha1
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - cloudprofiles
    - shoots
  failurePolicy: Fail
  objectSelector: {}
  namespaceSelector: {}
  sideEffects: None
  clientConfig:
    url: "https://localhost:9443/webhooks/validate"
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURGRENDQWZ3Q0NRQ2Z6VkpvamgxY0hEQU5CZ2txaGtpRzl3MEJBUXNGQURCTU1Sb3dHQVlEVlFRS0RCRkgKWVhKa1pXNWxjaUJGZUdGdGNHeGxjekVhTUJnR0ExVUVDd3dSVm1Gc2FXUmhkRzl5SUhaVGNHaGxjbVV4RWpBUQpCZ05WQkFNTUNXeHZZMkZzYUc5emREQWVGdzB5TURBek1UQXhNakExTlRKYUZ3MHpNREF6TURneE1qQTFOVEphCk1Fd3hHakFZQmdOVkJBb01FVWRoY21SbGJtVnlJRVY0WVcxd2JHVnpNUm93R0FZRFZRUUxEQkZXWVd4cFpHRjAKYjNJZ2RsTndhR1Z5WlRFU01CQUdBMVVFQXd3SmJHOWpZV3hvYjNOME1JSUJJakFOQmdrcWhraUc5dzBCQVFFRgpBQU9DQVE4QU1JSUJDZ0tDQVFFQTBhbk5PMmpuKzNHbzdsZTBiZ3dqclJNcFZRRHl4NTJCZ0UvbGpRRU44cjNZCnV2cmRhMklOUFBVSWlTVWpwNlFRYVgxSUNpdG0reEFnTXFhRjl1cUNSNmFucjNubkluQ0htdm5pc0s0c1orOWcKbkpUV0EwNG9YWHIzMkpYSHo1OEp3VVprZVp4Zm95ajFOK2dqTlhra3l3SkQreitHMWNHcnFDTW04MkxidldwQwpSWThKWU42eHgydzA3RDBHYjBBc3V0QUtseGYvdG9PcWZyVDhyLzB2N3NBZUltSWFkeGFaU3I5c1Z1bDdNUk1TCkltb3E0YkxFaUtmMktzb2dEamtjRG90dFFLTjlwZTloS2xYSVU0WTl3UlZQeVlsTVE1aDRYdkduL3E4ZHlVZ04KVDVhU1FRRVNBclFBY0lwTkZrRDg2NWlHNG1USXRlckcvbWJsWnh3dmpRSURBUUFCTUEwR0NTcUdTSWIzRFFFQgpDd1VBQTRJQkFRQnVMd1hqNkZMQzBJc01ZeEliOEZrR2F6TkR3d3NaQzFvN05BNzJWZWdwYTFlUTlsbFYrd2ZQCnlnNThNMHZvOWNXcHdxc011ZktCOGYrdEpQcHlVZjJvUGw2VS9yTjlOa0lnK2ErczlqYWxQOXNZQW9PNXp5VlgKMmYrK1ZzMFlDOURoUHhKMHYvRzZ0UUlnWmtMZGpScFhERytNR2wvNHRhTWR4MXpON1JEbUJITnpPN2M0VHJrbAozcFdYS1FqUmgzODFkTjhNSlBjWjNhVWJVSkxBaW12azZXVnMwTmdGL0JhcWxyRnJzaHVlbVJUV0p1MGR1cmRDCmVaVm1wdnNJYmtqQjhwb1dodndPTzBrV3d6Y0VPNEoxcjlrMVQyTGF4Q3RyR0E0Z1FCRUljbXhXSDgyRWIwS1IKeEFySy9qZDJNOUI4aitYNzF1SCtlMnp1ZVpQVkdNMlkKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
- name: secrets.validation.kubevirt.provider.extensions.gardener.cloud
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - UPDATE
    resources:
    - secrets
  failurePolicy: Fail
  objectSelector: {}
  namespaceSelector: {}
  sideEffects: None
  clientConfig:
    # service may not work with local Nodeless Kubernetes setup
    # You could use url with host.docker.internal instead of localhost and a correct certificate
    # url: "https://host.docker.internal:9443/webhooks/validate/secrets"
    service:
      namespace: garden
      name: gardener-extension-admission-kubevirt
      path: /webhooks/validate/secrets
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURGRENDQWZ3Q0NRQ2Z6VkpvamgxY0hEQU5CZ2txaGtpRzl3MEJBUXNGQURCTU1Sb3dHQVlEVlFRS0RCRkgKWVhKa1pXNWxjaUJGZUdGdGNHeGxjekVhTUJnR0ExVUVDd3dSVm1Gc2FXUmhkRzl5SUhaVGNHaGxjbVV4RWpBUQpCZ05WQkFNTUNXeHZZMkZzYUc5emREQWVGdzB5TURBek1UQXhNakExTlRKYUZ3MHpNREF6TURneE1qQTFOVEphCk1Fd3hHakFZQmdOVkJBb01FVWRoY21SbGJtVnlJRVY0WVcxd2JHVnpNUm93R0FZRFZRUUxEQkZXWVd4cFpHRjAKYjNJZ2RsTndhR1Z5WlRFU01CQUdBMVVFQXd3SmJHOWpZV3hvYjNOME1JSUJJakFOQmdrcWhraUc5dzBCQVFFRgpBQU9DQVE4QU1JSUJDZ0tDQVFFQTBhbk5PMmpuKzNHbzdsZTBiZ3dqclJNcFZRRHl4NTJCZ0UvbGpRRU44cjNZCnV2cmRhMklOUFBVSWlTVWpwNlFRYVgxSUNpdG0reEFnTXFhRjl1cUNSNmFucjNubkluQ0htdm5pc0s0c1orOWcKbkpUV0EwNG9YWHIzMkpYSHo1OEp3VVprZVp4Zm95ajFOK2dqTlhra3l3SkQreitHMWNHcnFDTW04MkxidldwQwpSWThKWU42eHgydzA3RDBHYjBBc3V0QUtseGYvdG9PcWZyVDhyLzB2N3NBZUltSWFkeGFaU3I5c1Z1bDdNUk1TCkltb3E0YkxFaUtmMktzb2dEamtjRG90dFFLTjlwZTloS2xYSVU0WTl3UlZQeVlsTVE1aDRYdkduL3E4ZHlVZ04KVDVhU1FRRVNBclFBY0lwTkZrRDg2NWlHNG1USXRlckcvbWJsWnh3dmpRSURBUUFCTUEwR0NTcUdTSWIzRFFFQgpDd1VBQTRJQkFRQnVMd1hqNkZMQzBJc01ZeEliOEZrR2F6TkR3d3NaQzFvN05BNzJWZWdwYTFlUTlsbFYrd2ZQCnlnNThNMHZvOWNXcHdxc011ZktCOGYrdEpQcHlVZjJvUGw2VS9yTjlOa0lnK2ErczlqYWxQOXNZQW9PNXp5VlgKMmYrK1ZzMFlDOURoUHhKMHYvRzZ0UUlnWmtMZGpScFhERytNR2wvNHRhTWR4MXpON1JEbUJITnpPN2M0VHJrbAozcFdYS1FqUmgzODFkTjhNSlBjWjNhVWJVSkxBaW12azZXVnMwTmdGL0JhcWxyRnJzaHVlbVJUV0p1MGR1cmRDCmVaVm1wdnNJYmtqQjhwb1dodndPTzBrV3d6Y0VPNEoxcjlrMVQyTGF4Q3RyR0E0Z1FCRUljbXhXSDgyRWIwS1IKeEFySy9qZDJNOUI4aitYNzF1SCtlMnp1ZVpQVkdNMlkKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
